<% content_for :nav do %>
<script type="text/javascript">
	$(function(){
		$('#vertical-ticker').totemticker({
			row_height	:	'500px',
			speed       :   25000,
			interval    :   10
		});
	});
</script>
<%= get_navigation("home") %>


<% end %>
<!-- Slider -->

<% content_for :side_panel do %>
<div id="wrapper" style="position:absolute; right: 100px; bottom:13px;">

<div class="slide-info"> <h2 >Recent Reviews</h2></div>
	<ul id="vertical-ticker">
		<% for review in getRecent %>
			<li>
				<p class="bubble" style=" color: #333;font-size: 11px; font-family: 'Century Gothic';">
				<span id="profile_image" style="float:left; padding: 10px;"><%= image_tag "#{User.find_by_name(review.reviewer).pic}", :alt => 'foo' %></span>		<br/>
				<% if review.content.length > 100 %>
			   <%= review.content.to_s[0..100] %>...
				<% else %>
				 <%= review.content %>
				<% end %>
				<br/><span style="color:#777777; font-size:9px;"> - <%= review.reviewer %> </span>
				</p>
		</li>
		<% end %>
	</ul>

</div>
<% end %>

<% content_for :header do %>




<div id="slider">
	<div id="slider-holder">
		<ul>
		    <li>
		
		    	<div class="slide-info">
		    		<h2 >Browse Restaurants in Your Area</h2>
		    		<p>Discover where to find the best slice of pizza, greek salad or whatever else your craving nearest to you. Simply enter click browse,  
			   		and meal mecca will find restaurants of any variety and their highest rated dishes.</p>
		    		<a href="<%= categories_path %>" class="button-more">More</a>
		    	</div>
		    	<div class="slide-image" style="position:relative; top: 30px;">
		    		<%= image_tag "deli5.png", :alt => 'foo' %>
		    	</div>
		    </li>
		    <li>
		    	<div class="slide-info">
		    		<h2 >Find the Best Dishes</h2>
		    		<p>Let's face it - all dishes are not made equally. Never order in the dark again - Meal Mecca has got you 			  
					   covered, 100%. Learn from the reviews of others and order wisely.</p>
		    		<a href="<%= categories_path %>" class="button-more">More</a>
		    	</div>
		    	<div class="slide-image">
		    	 	<%= image_tag "chef.png", :alt => 'foo' %>
		    	</div>
		    </li>
		    <li>
		    	<div class="slide-info">
		    		<h2>Share your opinion</h2>
		    		<p>Rate and review your favorite <i>and least</i> favorite dishes. See if others agree with your opinion and become the culinary 	
						specialist with the most trusted palate on Meal Mecca! 
			            </p>
		    		<a href="<%= categories_path %>" class="button-more">More</a>
		    	</div>
		    	<div class="slide-image">
		    		<%= image_tag "critic.png", :alt => 'foo' %>
		    	</div>
		    </li>
		</ul>
	</div>
	<div class="slider-nav">
		<a href="#" class="prev">Previous</a>
		<a href="#" class="next">Next</a>
	</div>
</div>
<!-- END Slider -->
<% end %>

<% content_for :three_column do %>

<!-- 
<div class="cols three-cols">
	<div class="cl">&nbsp;</div>
	<div class="col">
		<h2></h2>
		<h3 class="notext txt-monday-again">Recent Reviews </h3>
		<p>
			
			
		</p>
		<p><a href="#" class="more">Learn more</a></p>
	</div>

	<div class="col">
		<h2></h2>
		<h3 class="notext txt-wedothis">WE DO THIS AND THAT....</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. </p>
		<p><a href="#" class="more">Learn more</a></p>
	</div>
	<div class="col col-last">
		<h2></h2>
		<h3 class="notext txt-247">24/7 YES REALLY...</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue.</p>
		<p><a href="#" class="more">Learn more</a></p>
	</div>
	<div class="cl">&nbsp;</div>
</div>
END Three Column Content -->
<% end %>