<% content_for :nav do %>
<%= get_navigation("browse") %>
<% end %>
<br/>



	<% content_for :three_column do %>

<div id="tabs">

	<ul id="navigation" style="border-color:white;">
		<li><a href="#tabs-1">About</a></li>
		<li><a href="#tabs-2">Dishes</a></li>
		<li><a href="#tabs-3">Reviews</a></li>
		<li><a href="#tabs-4">Add Review</a></li>
		<div class="restaurant_nav">
		<a class="restaurant_link" href="<%= restaurant_path(@restaurant) %>"><%=@restaurant %></a> 
		</div>
	</ul>
	
	
<div class="cols two-cols">
	<div class="cl">&nbsp;</div>
	<div class="col" id="tabs-1" style="height:275px;">
		
		
		
		<div class="infobox-container">
		<div class="triangle-l"></div>
		<div class="triangle-r"></div>
		<div class="infobox">
		<a id="dish"><h3><span><%= @restaurant %></span></h3></a>
		<p>&nbsp;</p>
		<p>
		  <b style="font-size:15px;">Address:</b>
		  <span style="font-size:13px;"><%= @restaurant.formatted_address %></span>
		  <br/>
		  <b style="font-size:15px;">Number:</b>
		  <span style="font-size:13px;"><%= @restaurant.number %></span>
		</p>
				<p>&nbsp;</p>
		
		</div>
		</div>
		
		<%= image_tag "http://maps.google.com/maps/api/staticmap?center=#{@restaurant.street.strip},#{@restaurant.city.strip},#{@restaurant.state.strip},#{@restaurant.zip.strip}&zoom=17&size=400x400&sensor=false&markers=#{@restaurant.street.strip},#{@restaurant.city.strip},#{@restaurant.state.strip},#{@restaurant.zip.strip}", :alt => 'foo', :style => "position:relative; left: 550px; bottom: 150px", :height => "250px;", :width => "250px;" %>
		
		<link href='http://fonts.googleapis.com/css?family=Playfair+Display&v1' rel='stylesheet' type='text/css'>
	
		<p id="notice"><%= notice %></p>
		
	</div>
	<div class="col col-last" id="tabs-2" style="width:93%;">
			<div class="ui-widget">Dish: <input type="text"  size="30" id="dish_search" name="dish[name]"></div>	
		<table border=true  class="flexigrid">
		<thead></thead>
		<tbody>	

<br/>	


<%= render :partial => "dishes/dish", :collection => @dishes %>


</tbody>
</table>
	</div>
	
	<div id="tabs-3">
		<h2>All Dish Reviews</h2><br/>
<div class="ui-widget">Search: <input type="text"  size="30" id="review_search" name="review[name]"></div>
<table border=true  class="flexi2">
<thead></thead>
<tbody>	

<br/>	

		<%= render :partial => "reviews/review", :collection => @reviews, :locals => { :dish_name => true }  %>
	</tbody>
	</table>		
	</div>
	
	<div id="tabs-4">
		<h2 style="">Add a review:</h2>
		<% if user_signed_in? %>
		<%= render :partial => "reviews/restaurants_review_form" %>
		<% else %>
		<br/>
		<div class="fberrorbox">Error: You must sign in via facebook login if you wish to post a review.</div> 
		
		<br/>
		<a style="text-decoration:none;" href="<%= user_omniauth_authorize_path(:facebook) %>"><div style="display:inline-block;"><%= image_tag "facebook_icon.png" %></div><div class="underline_hover" style="display:inline-block; position:relative; left:7px; bottom:5px;"> <h1> Sign in </h1></div></a>
		<% end %>
	</div>
	
	<div class="cl">&nbsp;</div>
</div>
</div>
<% end %>

	
<script>


$(document).ready(function() 
    { 
			
		
			$( "#tabs" ).tabs({
				cookie: {
					// store cookie for a day, without, it would be a session cookie
					expires: 10
				}
			});
			
		    $('input#dish_search').quicksearch('table.flexigrid tbody tr');
			


			
						
       	$( ".flexigrid" ).flexigrid({
			colModel : [
			                        {display: 'Dish', name : 'dish-id', width : 125, sortable : true, align: 'left'},
			                        {display: 'Top Review', name : 'content', width : 497, sortable : true, align: 'left'},
			                        //{display: 'Reviewer', name : 'reviewer', width : 160, sortable : true, align: 'left'},
									{display: 'Recommend', name : 'recommend', width : 85, sortable : true, align: 'left'},
									{display: 'Price', name : 'price', width : 47, sortable : true, align: 'left'},
			 						//{display: 'Helpful', name : 'helpful', width : 100, sortable : false, align: 'left'}
			                ],
		usepager: true,
		sortname: "",
		sortorder: "asc",
		title: 'Dishes',
		useRp: true,
		rp: 15,
		showTableToggleBtn: true
		});
		
		$( ".flexi2" ).flexigrid({
			colModel : [
									{display: 'Dish', name : 'dish-id', width : 110, sortable : true, align: 'left'},
			                        {display: 'Review', name : 'content', width : 375, sortable : true, align: 'left'},
									{display: 'Recommend', name : 'recommend', width : 80, sortable : true, align: 'left'},
									{display: 'Price', name : 'price', width : 71, sortable : true, align: 'left'},
			 						{display: 'Helpful', name : 'helpful', width : 112.3, sortable : false, align: 'left'}
			                ],
		usepager: true,
		sortname: "",
		sortorder: "asc",
		title: 'Reviews',
		useRp: true,
		rp: 15,
		showTableToggleBtn: true
		});

		
	    $('input#review_search').quicksearch('table.flexi2 tbody tr');			
		
		
		
		
			$(".bDiv").css("height", "430px");
			
		 thumbnail = $('<img />').attr({
		            src: '<%= @restaurant.website %>',
		            alt: 'Loading thumbnail...',
		            width: 202,
		            height: 152
		        });

		        // Setup the tooltip with the content
		        $('a[id="dish"]').qtip(
		        {
		            content: thumbnail,
		            position: {
		                corner: {
		                    tooltip: 'leftMiddle'
		                   
		                }
		            },
		            style: {
		                tip: true, // Give it a speech bubble tip with automatic corner detection
		                name: 'blue'
		            }
		        });		
		
				<% @dishes.each do |dish| %>
				$("#review_content_<%=dish.id%>").tipsy({gravity: $.fn.tipsy.autoNS});
				<% end %>
				$("[rel*=tipsy]").tipsy({gravity: $.fn.tipsy.autoNS});
		
    });


	
	$(function() {
			var availableTags = [];
				<% @dishes.each do |dish| %> 
				
				availableTags.push("<%= dish.name %>");
				<% end %>

			$( "#dish_search, #dish_name" ).autocomplete({
				source: availableTags
			});
		});

		
	</script>
	
