<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Meal Mecca</title>
	<%= csrf_meta_tag %>
    <%= render 'layouts/javascripts' %>
    <%= render 'layouts/stylesheets' %>
</head>
<body>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<div id="page" class="shell">
	<!-- Logo + Search + Navigation -->
	<div id="top">
		<div class="cl">&nbsp;</div>
<%= image_tag "logo.gif", :alt => 'foo' %>
		<% form_tag restaurants_path, :method => "get", :id => "search" do %>
			<div class="field-holder" style="" >
				<input type="text" id="restaurant_name" name="restaurant[name]"  class="field" placeholder="Search" title="Search" />
			</div>
			<input type="submit" class="button" value="Search" />
			<div class="cl">&nbsp;</div>
		<% end %>
		<div class="cl">&nbsp;</div>
		<%= yield :nav %>	
	</div>
	<!-- END Logo + Search + Navigation -->
	<!-- Header -->
	<div id="header">
		<%= yield :header %>	
	</div>
	<!-- END Header -->
	<!-- Main -->
	<div id="main">
	<%=  yield %>
		<!-- Three Column Content -->
		<%= yield :three_column %>
		
		<!-- Two Column Content -->
		<%= yield :two_column%>
		<!-- END Two Column Content -->
	</div>
	<!-- END Main -->
	<!-- Footer -->
	<div id="footer">
		<p class="right">&copy; 2011 HelloWorld Enterprises</p>
		<p><a href="#">About Us</a><span>&nbsp;</span><a href="#">Services</a><span>&nbsp;</span><a href="#">Support</a><span>&nbsp;</span><a href="#">Contact</a></p>
		<div class="cl">&nbsp;</div>
	</div>
	<!-- END Footer -->
	<br />
</div>
</body>
</html>